/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #62705e, #40624c);
    height: 100vh;
    display: flex;

flex-direction: column;

    justify-self: center;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
}

h1 {
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.container {
    background-color: #333;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: 350px;

}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    background-color: #555;
    color: white;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right, #27ae60, #a2f32a);
    color: #111;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

#redultado-imc, #classificacao {
    color: #a2f3a2;
    font-weight: bold;
}